@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 0.3s;
}
/* header */
.header_link::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0%;
    height: 2px;
    background:#3368c6;
    transition: 0.5s;
}
.header_link:hover::after{
    width: 100%;
}

/* centering position*/
.centering_abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50% , -50%)
}